/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body, header, nav, main,
 section, article, footer, small {
   display: block;
 }

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  box-sizing: content-box;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.1666666666;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


.header {
  background-color: #000;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
  /*height: 200px;*/
  padding: 10px 0;
  position: relative;
}

.header-img {
  height: 60px;
  /*display: block;*/
}

.header-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 8px;
  right: 245px;
}

.header-logo {
  color: #fff;
  font-size: 30px;
  display: block;
  position: absolute;
  bottom: 10px;
  right: 5px;
  letter-spacing: 5px;
  font-weight: bold;
}

.property-index {
  width: 900px;
  /*border: 1px dashed blue;*/
  margin: auto;
}

.property-listing {
  border-top: 1px solid #000;
  padding-top: 16px;
  margin-top: 15px;
}

.property-listing:last-child {
  border-bottom: 1px solid #000;
  padding-bottom: 16px;
}

.property-address {
  font-size: 16px;
  color: #0080c6;
}

.map {
  width: 315px;
  height: 340px;
}

.images-item-main {
	width: 300px;
	height: 300px;
}

.images-item {
	width: 100px;
	height: 100px;
}
