/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body, header, nav, main,
 section, article, footer, small {
   display: block;
 }

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  box-sizing: content-box;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.1666666666;
  color: #000;
}

.background {
	/*z-index: -1;*/
	background: url('manhattan.jpg');
	width: 100%;
	height: 1000px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.8;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.group:after {
	content: "";
  display: block;
  clear: both;
}


.header {
  background-color: #000;
}

.header-border {
  margin: 0 auto;
  width: 900px;
  /*height: 200px;*/
  padding: 10px 0;
  position: relative;
}

.header-img {
  height: 60px;
  /*display: block;*/
}

.header-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 8px;
  right: 245px;
}

.header-logo {
  color: #fff;
  font-size: 30px;
  display: block;
  position: absolute;
  bottom: 10px;
  right: 5px;
  letter-spacing: 5px;
  font-weight: bold;
}

.header-nav-top {
  margin: 0 auto;
  width: 900px;
  /*height: 200px;*/
  padding: 2.5px 10px;
  position: relative;
	border-bottom: 1px solid #ccc;
	color: #0080c6;
	background-color: white;
	/*opacity: 0.7;*/
}

.header-top-left {
	float: left;
}

.header-top-left a {
	padding: 5px;
	margin-right: 10px;
}

.header-top-left > a:hover > ul {
	display: block;
	background: white;
	border: 1px solid #0080c6;
	width: 220px;
	padding: 20px 20px 0 20px;
	font-weight: 400;
}

.NYC-list {
	color: #0080c6;
	position: absolute;
	display: none;
	z-index: 1000;
	/*margin-bottom: 20px;*/
}

.NYC-list li {
	margin-bottom: 20px;
}

.NYC-list li:hover {
	margin-bottom: 20px;
	font-weight: 700;
	text-decoration: underline;
}


.SignIn-Comp {
	display:block;
	float: right;
}

.SignIn-Comp a:first-child {
	font-size: 12px;
	padding: 5px;

	letter-spacing: 1px;
	margin-right: 5px;
}

.SignIn-Comp a:last-child {
	font-size: 14px;
	font-weight: 900;
	color: black;
	padding: 5px 12px;
	border: 1px solid #fdc435;
}

.header-nav-bottom {
	margin: 0 auto;
	width: 900px;
	padding-top: 2.5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 12px;
	position: relative;
	border-bottom: 5px solid #0080c6;
	color: #0080c6;
	background-color: white;
	/*opacity: 0.7;*/
	/*color: #0080c6;*/
}


.header-bottom-left p {
	float: left;
	font-size: 24px;
	margin-right: 45px;
}

.header-bottom-left ul {
	float: left;
	margin-top: 8px;
}

.header-bottom-left li {
	float: left;
	margin-right: 45px;
}

.header-bottom-left > ul > li:last-child:hover ul {
	display: block;

}

.header-bottom-left > ul > li {
	/*font-size: 20px;
	border: 1px solid green;
	margin-right: 40px;*/
}

.resources-list {
	display: none;
	position: absolute;
	background: white;
	border: 1px solid #0080c6;
	width: 220px;
	padding: 20px 20px 0 20px;
	font-weight: 400;
	top: 32px;
	z-index: 1000;
}

.resources-list li {
	margin-bottom: 20px;
}

.resources-list li:hover {
	/*margin-bottom: 20px;*/
	font-weight: 700;
	text-decoration: underline;
}



.header-nav-bottom span {
	float: right;
}


.properties-page {
	width: 918px;
	margin: 0 auto;
	background: white;
	border: 1px solid white;
}

.property-index {
	width: 500px;
	/*border: 1px dashed blue;*/
	float: left;
	margin: auto;
	background: white;
	padding: 0 10px;
	padding-top: 10px;
}

.property-item {
	/*border: 1px solid blue;*/
	border-top: 1px solid black;
	width: 525px;
	margin-bottom: 10px;
}

.property-item:last-child {
	/*border: 1px solid blue;*/
	border-bottom: 1px solid black;
}

.property-item img {
	float: left;
	width: 175px;
	height: 110px;
	/*border: 1px solid red;*/
	margin-right: 15px;
	margin-top: 8px;
}

.property-listing {
	float: left;
	/*border-top: 1px solid #000;*/
	padding-top: 16px;
	/*margin-top: 15px;*/
	/*margin-left: 20px;*/
	/*border: 1px solid green;*/
	width: 330px;
}

.property-listing:last-child {
	/*border-bottom: 1px solid #000;*/
	padding-bottom: 16px;
}



.property-address {
	font-size: 16px;
	color: #0080c6;
}

.map {
	width: 315px;
	height: 340px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.images-item-main {
	width: 300px;
	height: 300px;
}

.images-item {
	width: 100px;
	height: 100px;
}
